<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- CSS INCLUDE -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>
    <!-- EOF CSS INCLUDE -->
    <style>
        .pagination-centered {
            text-align: center;
        }
        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
        .pointer-disabled {
            pointer-events: none;
        }
    </style>
</head>
<body>
<!-- START PAGE CONTAINER -->
<div class="container-fluid">
    <!-- PAGE TITLE -->
    <div class="StorageParts">
        <h2>
            <a th:href="@{'/'}"><i class="glyphicon glyphicon-align-justify"></i>Storage Parts</a>
            <br>
        </h2>
    </div>
    <!-- END PAGE TITLE -->
    <div>
        <a th:href="@{'/new'}"><i class="glyphicon glyphicon-plus" style="font-size:30px"></i></a>
        <label>Click on the plus icon to add a part</label>
        <br>
    </div>
    <div>
        <a th:href="@{'/filter'}"><i class="glyphicon glyphicon-filter" style="font-size:30px"></i></a>
        <label>Сlick on the filter icon to change the display</label>
        <br>
    </div>
    <div>
        <a th:href="@{'/search'}"><i class="glyphicon glyphicon-search" style="font-size:30px"></i></a>
        <label>Сlick for search the part</label>
        <br>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover horizontal-align">
            <thead>
            <tr>
                <!--<th style="width: 5%">#</th>-->
                <th style="width: 60%">Name part</th>
                <th style="width: 60%">Count</th>
                <th style="width: 5%">Necessary</th>
                <th style="width: 5%">Edit</th>
                <th style="width: 5%">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="part : ${parts}">
                <!--<td th:text="${part.id}" style="text-align: center">#</td>-->
                <td th:text="${part.name}">Name</td>
                <td th:text="${part.count}">Count</td>
                <td style="text-align: center">
                    <i th:if="${part.necessary} == true" class="glyphicon glyphicon-check" style="font-size:15px;color:#337ab7"></i>
                    <i th:if="${part.necessary} == false" class="glyphicon glyphicon-unchecked" style="font-size:15px;color:#337ab7"></i>
                </td>
                <td style="text-align: center"><a th:href="@{'/edit/{id}'(id=${part.id})}"><i class="glyphicon glyphicon-edit" style="font-size:15px"></i></a></td>
                <td style="text-align: center"><a th:href="@{'/delete/{id}'(id=${part.id})}"><i class="glyphicon glyphicon-trash" style="font-size:15px"></i></a></td>
            </tr>
            <tr>
                <!--<td th:text="${part.id}" style="text-align: center">#</td>-->
                <td style="text-align: center; width: 60%">Можно собрать</td>
                <td style="text-align: center; width: 60%" th:name="count" th:object="${assemblyPC}" th:text="${assemblyPC.count}"></td>
                <td style="text-align: center; width: 5%">компьютеров</td>
                <td style="text-align: center; width: 5%"></td>
                <td style="text-align: center; width: 5%"></td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div th:if="${parts.totalPages != 1}"
                 class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${parts.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{/(pageSize=${selectedPageSize}, page=1)}">«</a>
                    </li>
                    <li th:class="${parts.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{/(pageSize=${selectedPageSize}, page=${parts.number})}">←</a>
                    </li>
                    <li
                            th:class="${parts.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                        <a class="pageLink"
                           th:href="@{/(pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li
                            th:class="${parts.number + 1 == parts.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(pageSize=${selectedPageSize}, page=${parts.number + 2})}">→</a>
                    </li>
                    <li
                            th:class="${parts.number + 1 == parts.totalPages} ? disabled">
                        <a class="pageLink"
                           th:href="@{/(pageSize=${selectedPageSize}, page=${parts.totalPages})}">»</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
    <!-- END PAGE CONTAINER -->
</div>
<script
        src="https://code.jquery.com/jquery-1.11.1.min.js"
        integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE="
        crossorigin="anonymous"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        changePageAndSize();
    });
    function changePageAndSize() {
        $('#pageSizeSelect').change(function(evt) {
            window.location.replace("/?pageSize=" + this.value + "&page=1");
        });
    }
    /*]]>*/
</script>
</body>
</html>